body {
	font-family: Inter;
	font-weight: 400;
}
main{
    overflow-x: hidden;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}


